<h1>Scala is a JVM friend</h1>
<p class="text-info">Yes! Bytecode - Xmx - Xms and all your <em>good</em> friends on our side</p>
<p class="text-success">So can we use our <strong>Java libraries</strong> in love.</p>
<p class="text-danger">So Scala <strong>MUST</strong> have a <a href="http://en.wikipedia.org/wiki/Learning_curve#.22Steep_learning_curve.22"><strong>Steep Learning Curve ↓ </strong></a></p>
<p>
<em>
  | <small>The expression steep learning curve is used with opposite meanings.</small>
</em>
</p>