@(code:controllers.Code)(text:Html)(result: Html)

@defining{scala.util.Random.nextInt(1000000)} { id =>
  <div id="page-@id" class="row page">
    <div class="col-xs-offset-1 col-xs-10 success">
      <div id="code-@id" class="editor show code">@code.code</div>
      <div id="text-@id" class="well text text-center">@text</div>
      <div id="result-@id" class="well result text-center">@result</div>
    </div>
  </div>
  <script>
    var editor = ace.edit("code-@id");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setTabSize(2);
    editor.getSession().setUseSoftTabs(true);
    editor.setReadOnly(false);
    editor.setFontSize(15);
    editor.setPrintMarginColumn(120);
    editor.getSession().setMode("ace/mode/scala");
    function refreshEditor() {
      setTimeout(function() {
        editor.resize(true);
      }, 550);
    }
    var main = $("#page-@id");
    main
      .on("open-code", function() {
        $("#code-@id").show().css("opacity", "1");
        $("#text-@id").css("opacity", "0").hide();
        $("#result-@id").css("opacity", "0").hide();
      })
      .on("open-text", function() {
        $("#code-@id").css("opacity", "0").hide();
        $("#text-@id").show().css("opacity", "1");
        $("#result-@id").css("opacity", "0").hide();
      })
      .on("open-result", function() {
        $("#code-@id").css("opacity", "0").hide();
        $("#text-@id").css("opacity", "0").hide();
        $("#result-@id").show().css("opacity", "1");
      })
    //var main = $("#page-@id");
    //var code = $("#code-@id");
    //var codeW = 3;
    //var explain = $("#explain-@id");
    //var explainW = 9;
    /*main.on("open", function() {
        if (codeW > 0) {
          code.removeClass("col-xs-12")
            .removeClass("col-xs-"+codeW)
            .addClass("col-xs-"+codeW)
            .show();
        }
        explain .removeClass("col-xs-12")
            .addClass("col-xs-"+explainW)
            .show();
        refreshEditor();
      })
      .on("show-code", function() {
        code.removeClass("col-xs-12")
          .removeClass("col-xs-"+codeW)
          .addClass("col-xs-12")
          .show();
         explain.hide();
         refreshEditor();
      })
      .on("close", function() {
        code.hide();
        explain .removeClass("col-xs-12")
            .removeClass("col-xs-"+explainW)
            .addClass("col-xs-12")
        refreshEditor();
      })
      .on("increase", function() {
        if (explainW==0) {
          return;
        }
        code.removeClass("col-xs-"+codeW)
          .addClass("col-xs-"+(codeW+1));
        codeW++;
        explain .removeClass("col-xs-"+explainW)
            .addClass("col-xs-"+(explainW-1));
        explainW--;
        if (explainW == 0) {
          explain.hide();
        } else {
          if (!code.is(":visible")) {
            code.show();
          }
        }
        refreshEditor();
      })
      .on("decrease", function() {
        if (codeW==0) {
          return;
        }
        code.removeClass("col-xs-"+codeW)
          .addClass("col-xs-"+(codeW-1));
        codeW--;
        if (codeW == 0) {
          code.hide();
        } else {
          if (!code.is(":visible")) {
            code.show();
          }
          if (!explain.is(":visible")) {
            explain.show();
          }
        }
        explain .removeClass("col-xs-"+explainW)
            .addClass("col-xs-"+(explainW+1));
        explainW++;
        refreshEditor();
      })*/;
  </script>
}