@(day:Int, file:String, code:controllers.Code)

<h1>Please complete the code for day @day</h1>

<div id="editor-@day" class="editor">@code.code</div>
<script>
  var editor = ace.edit("editor-@day");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setTabSize(2);
  editor.getSession().setUseSoftTabs(true);
  editor.setReadOnly(false);
  editor.setFontSize(15);
  editor.setPrintMarginColumn(120);
  editor.getSession().setMode("ace/mode/scala");

  editor.toggleFullScreen = function(me) {
    var editor =(me||this);
    $(editor.container).toggleClass("full");
    editor.resize(true);
  };

  editor.cheat = function(me) {
    if (confirm("Really?")) {
      alert("You dummy bastard ;-)");
      var editor =(me||this);
      var ajax = jsRoutes.controllers.Application.cheat(@day).ajax();
      ajax.done(function(code) {
        editor.session.setValue(code);
      });
    }
  };

  editor.commands.addCommand({
    name: 'save',
    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
    exec: function(editor) {
      var code = editor.getValue();
      talk.saveCode(@day, code, "@file");
    },
    readOnly: true // false if this command should not apply in readOnly mode
  });

  editor.commands.addCommand({
    name: 'full',
    bindKey: {win: 'Ctrl-Alt-F',  mac: 'Command-Alt-F'},
    exec: editor.toggleFullScreen,
    readOnly: true // false if this command should not apply in readOnly mode
  });

  editor.commands.addCommand({
    name: 'full',
    bindKey: {win: 'Ctrl-Alt-C',  mac: 'Command-Alt-C'},
    exec: editor.cheat,
    readOnly: true // false if this command should not apply in readOnly mode
  });

  var offset = function(idx) { return idx - @code.lines.head._2;}

  var AceRange = ace.require("./range").Range;
  @code.folds.map { fold =>
    editor.session.addFold("test", new AceRange(offset(@(fold._1._1)), @fold._1._2, offset(@(fold._2._1))+1, @(fold._2._2)))
  }

  var annotations = [];
  @code.marks.map { mark =>
    annotations.push({
      row: offset(@mark._2),
      column: 0,
      text: "@mark._1",
      type: "error"
    });
  }
  editor.session.setAnnotations(annotations);

  window.currrentEditor = editor;

  // restart the clock
  window.clock.stop();
  window.clock.setTime(3*60);
  window.clock.start();
</script>